*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-sneaker {
    font-family: "Anton", sans-serif;
    letter-spacing: 1.5px;
    color:white;
    margin-left: 5rem;
    padding: 2rem;
}

.box-esq {
    width: 50%;
    background-color: #000000; 
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.box-dir {
    width: 50%;
    background-color: rgb(228, 224, 224);
    padding: 20px;
}

.caixa {
    display: flex;
    justify-content: flex-end;
    padding-right: 10rem;
    padding: 2rem;
    gap: 2rem;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

section {
    width: 50%;
}

.text-info {
    font-family: "PT Sans", sans-serif;
    color: aliceblue;
    background-color: #000000;
    margin-left: 6.5rem;
    margin-top: 7rem;
}

.line {
    width: 23%;
    height: 0.5%;
    background-color: rgb(54, 51, 51);
    margin-left: 6.5rem;
    margin-top: 1rem;
}

.cartao {
    margin-left: 27rem;
    margin-top: 5rem;
}

.box-t1 {
    display: flex;
    width: 90%;
    background-color: #ffffff; 
    padding: 70px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
}

.box-t2 {
    display: flex;
    width: 90%;
    background-color: #ffffff; 
    padding: 70px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;

}

.box-t3 {
    display: flex;
    width: 90%;
    background-color: #ffffff; 
    padding: 70px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}
.box-itens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}